interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/credentials/datafile
  response:
    body:
      string: '{"bucket": "monthly-datafile.datacite.org", "access_key_id": "DUMMY_ACCESS_KEY_ID",
        "secret_access_key": "DUMMY_SECRET_ACCESS_KEY", "session_token": "DUMMY_SESSION_TOKEN",
        "expires_in": 3600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - DUMMY_ETAG
      Status:
      - 200 OK
      X-Credential-Username:
      - DUMMY_X_CREDENTIAL_USERNAME
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://s3.eu-west-1.amazonaws.com/monthly-datafile.datacite.org/STATUS.json
  response:
    body:
      string: '{"month": "2026-02", "datetime": "2026-03-01T07:53:35.713625+00:00",
        "status": "Complete"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - DUMMY_ETAG
      Last-Modified:
      - Mon, 09 Mar 2026 13:17:26 GMT
      x-amz-checksum-crc64nvme:
      - DUMMY_X_AMZ_CHECKSUM_CRC64NVME
      x-amz-checksum-type:
      - FULL_OBJECT
      x-amz-request-id:
      - DUMMY_X_AMZ_REQUEST_ID
      x-amz-server-side-encryption:
      - AES256
    status:
      code: 200
      message: OK
version: 1
