interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datacite.org/credentials/datafile
  response:
    body:
      string: '{"bucket": "monthly-datafile.datacite.org", "access_key_id": "DUMMY_ACCESS_KEY_ID",
        "secret_access_key": "DUMMY_SECRET_ACCESS_KEY", "session_token": "DUMMY_SESSION_TOKEN",
        "expires_in": 3600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - DUMMY_ETAG
      Status:
      - 200 OK
      X-Credential-Username:
      - DUMMY_X_CREDENTIAL_USERNAME
    status:
      code: 200
      message: OK
version: 1
