interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A6347574+AND+metadata.publication_date%3A%5B2026-07-20+TO+2026-07-20%5D&all_versions=true&sort=mostrecent&size=10
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2026-07-20T15:24:32.464510+00:00",
        "modified": "2026-07-20T15:24:32.737950+00:00", "id": 21458494, "conceptrecid":
        "6347574", "doi": "10.5281/zenodo.21458494", "conceptdoi": "10.5281/zenodo.6347574",
        "doi_url": "https://doi.org/10.5281/zenodo.21458494", "metadata": {"title":
        "ROR Data", "doi": "10.5281/zenodo.21458494", "publication_date": "2026-07-20",
        "description": "<p>Data dump from the Research Organization Registry (ROR),
        a community-led registry of open identifiers for research organizations.</p>\n<p>Release
        v2.10 contains ROR IDs and metadata for 132,537 research organizations in
        JSON and CSV format, in schema version 2. This includes the addition of 3491
        new records and metadata updates to 2920 existing records. <a href=\"https://github.com/ror-community/ror-updates/releases/tag/v2.10\">See
        the release notes</a>.</p>\n<h2>Data format</h2>\n<p>Beginning with release
        v2.0 on 16 December 2025, data releases contain JSON and CSV files formatted
        only for&nbsp;<a href=\"https://github.com/ror-community/ror-schema/blob/schema-v2-1/ror_schema_v2_1.json\">schema
        v2</a>. In addition, v2 files will no longer have `_schema_v2` appended to
        the end of the filename, ex v2.0-2025-12-16-ror-data.json.&nbsp;</p>\n<p>The
        CSV file contains a subset of fields from the JSON file, some of which have
        been flattened for easier parsing. As ROR records and the ROR schema are maintained
        in JSON, the CSV is for convenience only. JSON is the format of record.</p>\n<h2>Release
        versioning</h2>\n<p>Beginning with data release 2.0, files in the ROR&nbsp;<a
        href=\"https://ror.readme.io/docs/data-dump\">Data dump</a> on Zenodo will
        no longer include CSV and JSON files of the registry in the v1 schema. The
        ROR API default version is v2 as of July 2025, and v1 of the ROR API and dataset
        has been deprecated entirely, as of 8 December 2025. The data dump major version
        has been incremented to 2 per below.</p>\n<p>Data releases are versioned as
        follows:</p>\n<ul>\n<li><strong>Minor versions (ex 1.1, 1.2, 1.3):</strong>&nbsp;
        Contain changes to data, such as a new records and updates to existing records.
        No changes to the data model/structure.</li>\n<li><strong>Patch versions (ex
        1.0.1):</strong>&nbsp; Used infrequently to correct errors in a release. No
        changes to the data model/structure.</li>\n<li><strong>Major versions (ex
        1.x, 2.x, 3.x):</strong>&nbsp; Contains changes to data model/structure, as
        well as the data itself. Major versions will be released with significant
        advance notice.</li>\n</ul>\n<p>For convenience, the date is also included
        in the release file name, ex: v2.0-2025-12-16-ror-data.zip.</p>\n<p>The ROR
        data dump is provided under the <a href=\"https://creativecommons.org/publicdomain/zero/1.0\">
        Creative Commons CC0 Public Domain Dedication</a>. Location data in ROR comes
        from GeoNames and is licensed under a <a href=\"https://creativecommons.org/licenses/by/4.0\">Creative
        Commons Attribution 4.0 license</a>.</p>", "access_right": "open", "creators":
        [{"name": "Research Organization Registry", "affiliation": null}], "contributors":
        [{"name": "Gould, Maria", "affiliation": "DataCite", "type": "ProjectManager",
        "orcid": "0000-0002-2916-3423"}, {"name": "Janderov\u00e1, Kate\u0159ina",
        "affiliation": "Czech Academy of Sciences", "type": "DataCurator", "orcid":
        "0000-0003-4945-3951"}, {"name": "Buttrick, Adam", "affiliation": "California
        Digital Library", "type": "ProjectLeader", "orcid": "0000-0003-1507-1031"},
        {"name": "Robinson, Carly", "affiliation": "Office of Scientific and Technical
        Information", "type": "DataCurator", "orcid": "0000-0002-8523-1478"}, {"name":
        "Smith, Arthur P.", "affiliation": "American Physical Society", "type": "DataCurator",
        "orcid": "0000-0002-6035-7736"}, {"name": "Smulyan, Shayn", "affiliation":
        "Crossref", "type": "DataCurator", "orcid": "0000-0002-3736-3417"}, {"name":
        "Spenger, Martin", "affiliation": "Ludwig-Maximilians-Universit\u00e4t M\u00fcnchen",
        "type": "DataCurator", "orcid": "0000-0002-8841-5985"}, {"name": "Huang, Jackson",
        "affiliation": "Educopia Institute", "type": "DataCurator"}, {"name": "Melzac,
        Carole", "affiliation": "Agence Bibliographique de l''Enseignement Sup\u00e9rieur",
        "type": "DataCurator", "orcid": "0009-0009-1446-079X"}], "keywords": ["ROR",
        "persistent identifier", "organization identifier", "PID", "affiliation",
        "open infrastructure", "institution identifier"], "related_identifiers": [{"identifier":
        "10.5281/zenodo.5534443", "relation": "isNewVersionOf", "resource_type": "dataset",
        "scheme": "doi"}, {"identifier": "10.5281/zenodo.4929693", "relation": "isNewVersionOf",
        "resource_type": "dataset", "scheme": "doi"}, {"identifier": "10.5281/zenodo.6347575",
        "relation": "isNewVersionOf", "resource_type": "dataset", "scheme": "doi"},
        {"identifier": "10.5281/zenodo.6657125", "relation": "isNewVersionOf", "resource_type":
        "dataset", "scheme": "doi"}, {"identifier": "10.5281/zenodo.6999566", "relation":
        "isNewVersionOf", "resource_type": "dataset", "[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A6347574+AND+metadata.publication_date%3A%5B2026-07-21+TO+2026-07-21%5D&all_versions=true&sort=mostrecent&size=10
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"publication_date":
        {"buckets": [], "label": "Publication date"}, "access_status": {"buckets":
        [], "label": "Access status"}, "resource_type": {"buckets": [], "label": "Resource
        types"}, "subject": {"buckets": [], "label": "Subjects"}, "file_type": {"buckets":
        [], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?allversions=True&page=1&q=conceptrecid:6347574+AND+metadata.publication_date:%5B2026-07-21+TO+2026-07-21%5D&size=10&sort=mostrecent"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '25'
      x-ratelimit-reset:
      - '1790646054'
      x-source:
      - api
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A6347574+AND+metadata.publication_date%3A%5B2026-09-23+TO+%2A%5D&all_versions=true&sort=mostrecent&size=10
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"publication_date":
        {"buckets": [], "label": "Publication date"}, "access_status": {"buckets":
        [], "label": "Access status"}, "resource_type": {"buckets": [], "label": "Resource
        types"}, "subject": {"buckets": [], "label": "Subjects"}, "file_type": {"buckets":
        [], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?allversions=True&page=1&q=conceptrecid:6347574+AND+metadata.publication_date:%5B2026-09-23+TO+*%5D&size=10&sort=mostrecent"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '54'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1790646054'
      x-source:
      - api
    status:
      code: 200
      message: OK
version: 1
