interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A6347574+AND+metadata.publication_date%3A%5B2025-08-07+TO+2025-08-07%5D&all_versions=true&sort=mostrecent&size=10
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-08-07T17:04:58.656980+00:00",
        "modified": "2025-08-12T14:58:01.938705+00:00", "id": 16762508, "conceptrecid":
        "6347574", "doi": "10.5281/zenodo.16762508", "conceptdoi": "10.5281/zenodo.6347574",
        "doi_url": "https://doi.org/10.5281/zenodo.16762508", "metadata": {"title":
        "ROR Data", "doi": "10.5281/zenodo.16762508", "publication_date": "2025-08-07",
        "description": "<p>Data dump from the Research Organization Registry (ROR),
        a community-led registry of open identifiers for research organizations.</p>\n<p>Release
        v1.69 contains ROR IDs and metadata for 118,371 research organizations in
        JSON and CSV format, in schema versions 1 and 2. This includes the addition
        of 787 new records and metadata updates to 978 existing records.<a href=\"https://github.com/ror-community/ror-updates/releases/tag/v1.69\">&nbsp;See
        the release notes</a>.</p>\n<h2>Data format</h2>\n<p>Beginning with release
        v1.45 on 11 April 2024, data releases contain JSON and CSV files formatted
        according to both <a href=\"https://github.com/ror-community/ror-schema/blob/master/ror_schema.json\">
        schema v1</a> and <a href=\"https://github.com/ror-community/ror-schema/blob/schema-v2-1/ror_schema_v2_1.json\">schema
        v2</a>. v2 files have `_schema_v2` appended to the end of the filename, ex
        v1.45-2024-04-11-ror-data_schema_v2.json. In[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A6347574+AND+metadata.publication_date%3A%5B2025-08-08+TO+2025-08-08%5D&all_versions=true&sort=mostrecent&size=10
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"publication_date":
        {"buckets": [], "label": "Publication date"}, "access_status": {"buckets":
        [], "label": "Access status"}, "resource_type": {"buckets": [], "label": "Resource
        types"}, "subject": {"buckets": [], "label": "Subjects"}, "file_type": {"buckets":
        [], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?allversions=True&page=1&q=conceptrecid:6347574+AND+metadata.publication_date:%5B2025-08-08+TO+2025-08-08%5D&size=10&sort=mostrecent"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '1790646054'
      x-source:
      - api
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A6347574+AND+metadata.publication_date%3A%5B2026-08-03+TO+%2A%5D&all_versions=true&sort=mostrecent&size=10
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2026-09-22T17:00:42.255987+00:00",
        "modified": "2026-09-22T17:00:42.531035+00:00", "id": 22902037, "conceptrecid":
        "6347574", "doi": "10.5281/zenodo.22902037", "conceptdoi": "10.5281/zenodo.6347574[...]
