AWSTemplateFormatVersion: '2010-09-09'

Description: 'S3 storage for COMET'

Resources:
  # Each bucket sets its own Subservice, as they serve jobs, the platform and builds.
  S3Bucket:
    Type: 'AWS::S3::Bucket'
    DeletionPolicy: 'Retain'
    UpdateReplacePolicy: 'Retain'
    Properties:
      BucketName: !Sub '${AWS::StackName}-data'
      Tags:
        - Key: 'Subservice'
          Value: 'jobs'
      # Removing this makes CloudFormation call PutBucketAcl, which fails because the bucket has ACLs disabled.
      # Can be removed on a new deploy
      AccessControl: 'Private'
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: 'ICMU'
            Status: 'Enabled'
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 5

  AirflowDagsBucket:
    Type: 'AWS::S3::Bucket'
    DeletionPolicy: 'Retain'
    UpdateReplacePolicy: 'Retain'
    Properties:
      BucketName: !Sub '${AWS::StackName}-airflow-dags'
      Tags:
        - Key: 'Subservice'
          Value: 'platform'
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      LifecycleConfiguration:
        Rules:
          - Id: ExpireOldVersions
            Status: Enabled
            NoncurrentVersionExpiration:
              NoncurrentDays: 30
          - Id: ICMU
            Status: Enabled
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 5

  AirflowLogsBucket:
    Type: 'AWS::S3::Bucket'
    DeletionPolicy: 'Retain'
    UpdateReplacePolicy: 'Retain'
    Properties:
      BucketName: !Sub '${AWS::StackName}-airflow-logs'
      Tags:
        - Key: 'Subservice'
          Value: 'jobs'
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: ExpireLogs
            Status: Enabled
            ExpirationInDays: 365
          - Id: ICMU
            Status: Enabled
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 5

  ArtifactBucket:
    Type: 'AWS::S3::Bucket'
    DeletionPolicy: 'Retain'
    UpdateReplacePolicy: 'Retain'
    Properties:
      BucketName: !Sub '${AWS::StackName}-artifacts'
      Tags:
        - Key: 'Subservice'
          Value: 'build'
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      LifecycleConfiguration:
        Rules:
          - Id: ExpireArtifacts
            Status: Enabled
            ExpirationInDays: 30
          - Id: ExpireOldArtifactVersions
            Status: Enabled
            NoncurrentVersionExpiration:
              NoncurrentDays: 30
          - Id: ICMU
            Status: Enabled
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 5

Outputs:
  DataBucketName:
    Value: !Ref S3Bucket

  DataBucketURI:
    Value: !Sub "s3://${S3Bucket}"

  DataBucketARN:
    Value: !GetAtt S3Bucket.Arn

  AirflowDagsBucketName:
    Value: !Ref AirflowDagsBucket

  AirflowDagsBucketARN:
    Value: !GetAtt AirflowDagsBucket.Arn

  AirflowLogsBucketName:
    Value: !Ref AirflowLogsBucket

  AirflowLogsBucketARN:
    Value: !GetAtt AirflowLogsBucket.Arn

  ArtifactBucketName:
    Value: !Ref ArtifactBucket

  ArtifactBucketARN:
    Value: !GetAtt ArtifactBucket.Arn
